@import '../../styles/colors';

.wrapper {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 0;
    height: 10vh;
}

.menu {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;

    li {
        list-style: none;
        margin-left: 20px;

        a {
            opacity: .8;

            &.active {
                color: $black;
                opacity: 1;
            }
        }
    }
}

.logo {
    margin: 0;
}