// default font-family
@import url('https://fonts.googleapis.com/css?family=Saira+Condensed:300,400,500');

// Override bootsrap variables
$body-bg:         white;

$font-family-base:  'Saira Condensed', sans-serif;

$font-weight-bold:  500;

// Colors
@import 'styles/_colors.scss';

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap-reboot.scss',
        '~bootstrap/scss/bootstrap-grid.scss';