@import '../../styles/colors';

.wrapper {
    height: 80vh;
}

.container {
    display: flex;
    height: 100%;

    .row {
        align-items: center;
    }
}

.title {
    font-size: 45px;
    font-weight: normal;
    text-transform: capitalize;
    margin-bottom: 30px;
}

.description {
    color: $gray;
    margin-bottom: 80px;
}